body {
   background-color: blue;
}

#redCrystal {
    height: 100px;
    width: 100px;
    padding: 10px;
}
#blueCrystal {
    height: 100px;
    width: 100px;
    padding: 10px;
}
#yellowCrystal {
    height: 100px;
    width: 100px;
    padding: 10px;
}

#greenCrystal {
    height: 100px;
    width: 100px;
    padding: 10px;
}

.crystalArea {
    background-color: black;
    align-content: center;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    height: auto;
}

h1 {
    color: red;
    font-weight: bold;
    text-align: center;
    font-size: 48px;
}

#STARTBUTTON {
text-align: center;

}

.instructionArea {
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px;
}

p {
    text-align: left;
}

.randomBox {
    text-align: center;
    background-color: black;
    color: white;
    padding: 30px;
}

.winLossBox {
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px; 
}
.scoreHeading {
    text-align: center;
    background-color: black;
    color: white;
    margin-top: 10px;
}
h3 {
    width: auto;
    text-align: left;
    background-color: black;
    color: white;
    padding: 20px; 
}
.SCORE {
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px; 
}

@media screen and (max-width: 640px) {
    h3{
        text-align: center;
    }

    .crystalArea {
        margin: auto;
    }
}

